{% load static %}
    {% block extra_head %}
    <style>
        @media (min-width: 992px) {
            .navbar-expand-lg .navbarcollapse {
                display: flex !important;
                flex-basis: auto;
            }
        }

        .navbarcollapse {
            flex-basis: 100%;
            flex-grow: 0;
            align-items: center;
        }

        .navbar>.container,
        .navbar>.container-fluid,
        .navbar>.container-lg,
        .navbar>.container-md,
        .navbar>.container-sm,
        .navbar>.container-xl,
        .navbar>.container-xxl {
            display: flex;
            flex-wrap: inherit;
            align-items: center;
            justify-content: space-around;
        }
    </style>
    {% endblock %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand px-lg-5 px-sm-2" href="{% url 'userfeed' %}"><img class="img-fluid img-thumnail px-5"
                    src="{% static 'core/image/instalogo.png' %}" alt="instalogo" /></a>
            <form action="{% url 'search_view' %}" method="GET" class="d-flex">
                <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
            </form>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbarcollapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'userfeed' %}"><i class="fa fa-home fa-lg"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-compass fa-lg"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'userliked' %}"><i class="fa fa-heart fa-lg"></i></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="fw-bold">Hello, {{request.user.first_name}}</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item " href="{% url 'profile' request.user.username %}"><i
                                        class="fas fa-user fa-lg mx-1"></i>Profile</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'profile_edit' request.user.username %}"><i
                                        class="fas fa-cog fa-lg mx-1"></i>Settings</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'changepassword' %}"><i
                                        class="fas fa-unlock-alt fa-lg mx-1"></i>Change Password</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'logout' %}"><i
                                        class="fas fa-sign-out-alt fa-lg mx-1"></i>Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
