{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container my-4 shadow">
  <div class="row py-3 d-flex">
    <div class="col-sm-2 col-2">
      <a href="{% url 'userfeed' %}" class="mx-2 h3" style="color: black"><i class="fas fa-arrow-left fa-lg"></i></a>
  </div>
  {% if post_details.user.username == username %}
  <div class="col-sm-2 offset-sm-8 col-2 offset-6">
    <a href="{% url 'deletepost' post_details.id %}" class="h5 px-5" style="color: black"><i class="fas fa-trash fa-lg"></i></a>
  </div>
  {% endif %}
  </div>
  <div class="row">
    <div class="col-sm-5 d-flex justify-content-center align-self-center">
      <img style="object-fit: contain;" src="{{post_details.image.url}}" width="100%" height="auto" alt="" />
    </div>
    <div class="col-sm-7 border">
      <div class="row">
        <div class="my-1">
          {% if post_details.user.picture %}
            <img class="rounded-circle z-depth-0" style="height:50px; width:50px" src="{{post_details.user.picture.url}}" alt="" />
          {% else %}
            <img class="rounded-circle z-depth-0" src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png" style="height:50px; width:50px" alt="" />
          {% endif %}
          <span class="fw-bold h4">{{post_details.user.username}}</span>
          
          
          
        </div>
      </div>
      <hr class="my-3"/>
      <div class="row">
        <div class="my-1">
          {% if post_details.user.picture %}
            <img class="rounded-circle z-depth-0" style="height:50px; width:50px" src="{{post_details.user.picture.url}}" alt="" />
          {% else %}
            <img class="rounded-circle z-depth-0" src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png" style="height:50px; width:50px" alt="" />
          {% endif %}
          <span class="fw-bold h4">{{post_details.user.username}}</span>
          <span class="px-1">{{post_details.caption}}</span>
          <div style="margin-top:45px"><small>{{post_details.created_on}}</small></div>
        </div>
      </div>
      
      <!-- comments -->
      <div class="row">
        <div class="col-sm-12 col-6">
          comments({{comment_count}})
        </div>
      </div>
      <div class="row my-2">
          {% if comments %}
            {% for c in comments %}
          <div class="col-sm-2">
            {% if c.user.picture %}
              <img class="rounded-circle z-depth-0" style="height:50px; width:50px" src="{{c.user.picture.url}}" alt="" />
            {% else %}
              <img class="rounded-circle z-depth-0" src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png" style="height:50px; width:50px" alt="" />
            {% endif %}
          </div>
          <div class="col-sm-10 py-1">
            <span class="fw-bold h5">{{c.user.username}}</span>
            <span>{{c}}</span>
            <div style="margin-top:6px"><small>{{c.commented_on}}</small></div>
          </div>
            {% endfor %}
            {% else %}
            <div class="col-sm-12 col-6 my-5">
              <p class="fw-bold"><center>No Comments Yet</center></p>
            </div>
            {% endif %}
      </div>
      
      <hr class="my-3"/>
      
      <div class="row">
        <div class="col-sm-10 col-10">
          {% if liked_or_not %}
          <a href="{% url 'postdetailslike' post_details.id %}" style="color:red"><span class="h3 px-1"><i class="fas fa-heart fa-lg"></i></span></a>
          {% else %}
           <a href="{% url 'postdetailslike' post_details.id %}" style="color:red"><span class="h3 px-1"><i class="far fa-heart fa-lg"></i></span></a>
          {% endif %}
          <span class="h4 px-1" style="color:blue"><i class="far fa-comment-alt fa-lg"></i></span>
          <span class="h4 px-1" style="colour: black"><i class="fas fa-location-arrow fa-lg"></i></span>
        </div>
        
        <div class="col-sm-2 col-2">
          {% if saved_or_not %}
           <a href="{% url 'savedposts' post_details.id %}"><span class="h4 px-1" style="color:black"><i class="fas fa-bookmark fa-lg"></i></span></a>
          {% else %}
           <a href="{% url 'savedposts' post_details.id %}"><span class="h4 px-1" style="color:black"><i class="far fa-bookmark fa-lg"></i></span></a>
          {% endif %}
        </div>
        
        
        <div class="row">
          <div class="col-sm-10">
            <div style="margin-top:10px"><small class="px-1">{{like_count}} likes</small></div>
          </div>
        </div>
      </div>
      <hr class="my-3"/>
      
      <div class="row my-3">
        <div class="col-sm-2">
           <span class="h1 px-1"><i class="far fa-smile"></i></span>
        </div>
        <div class="col-sm-8 my-1">
          <form class="form-group" action="{% url 'comments' %}" method="post" accept-charset="utf-8">
            {% csrf_token %}
            <input type="hidden" name="post_id"  value="{{post_details.id}}" />
            <input type="text" placeholder="Add a comment..." class="form-control" name="comment" value="" />
        </div>
        <div class="col-sm-2 my-2">
          <input type="submit" class="btn btn-success btn-sm" value="Post" />
        </div>
        </form>
      </div>
      
    </div>
  </div>
</div>
{% endblock content %}